* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cuerpo {
    background-color: #07002E;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.contenedor {
    margin: 100px;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.caja {
    background-color: grey;
    margin: 100px;
    border-radius: 6px;
    width: 500px;
    height: 500px;
}

.botoncito {
    margin: 5px;
    width: 200px;
    display: inline;
    justify-content: center;
}
.updateCart{
    margin: 20px;
}
.letra{
    color: #ffff

}

#output{
background-color: #ffff;
border-radius: 6px;
}

.Mensaje{
padding: 0%;
margin: 2px;
padding-left: 10px;
}

.Username{
    text-align: end;
     font-style: italic;
      font-weight: 400;
      color: blue;
}

.error{
    color:red
}

.fecha{
    color: green;
}