<div class="contenedor">
    <h1 class="letra">Chat!!!</h1>
        <div id="output"></div>
        <div id="action"></div>
        <label for="Name">Ingresa tu nombre acá</label>
        <input class="form-control" type="text" id="username" placeholder="Nombre" required>
        <label for="Name">Ingresa tu Mensaje acá</label>
        <input class="form-control" type="text" id="message" placeholder="Mensaje" required />
        <button id="send" class="btn btn-primary botoncito">send</button>
</div>