<div class="contenedor">
    <h1 class="letra">Chat!!!</h1>
    <div id="messages"></div>
    <label for="Name">Ingresa tu nombre acá</label>
    <input class="form-control" type="text" id="nombre">
    <label for="Name">Ingresa tu nombre acá</label>

    <input class="form-control" type="text" id="texto" />
    <button id="send" class="btn btn-primary botoncito">
        Enviar
    </button>
</div>