<div class"cuerpo">
    <div class="contenedor">
        <h1 class="letra">Productos agregados</h1>
        <% products.forEach(product=> { %>
                <div class="card">
                    <div class="container" >
                    </div>
                    <div class="textContainer">
                        <img src="<%= product.image %>" alt="Placeholder image" />
                        <b><%=product.article %></b>
                        <b>$<%=product.price %></b>
                    </div>
                </div>
                <% }); %>
    </div>
</div>